project:
  type: website
  output-dir: docs
  resources:
    - CNAME
    - .nojekyll

website:
  favicon: favicon.ico
  title: "Data All The Way"
  site-url: https://dataalltheway.com
  image: "images/logo-nobg.png"
  description: "Data All The Way: A tutorial website with concepts, methods, and example code on various data science, statistics, and machine learning topics."
  reader-mode: false
  back-to-top-navigation: true
  navbar:
    background: primary
    logo: favicon.ico
    logo-alt: "Data All The Way logo: 0 1 digits on a black background."
    right:
      - posts.qmd
      - bookmarks/index.qmd
      - glossary/index.qmd
      - icon: github
        href: https://github.com/rohitfarmer/dataalltheway
      - icon: rss
        href: posts.xml
  page-footer: 
    center: "<b><a href = 'https://creativecommons.org/licenses/by-nc-sa/4.0/'>Copyright CC BY-NC-SA 4.0</a></b>"
    border: true
    background: dark
  cookie-consent:
    type: implied 
    style: simple
    palette: dark
  google-analytics:
    tracking-id: "G-N6RK0VE0J6"
    anonymize-ip: true
  twitter-card: true
  open-graph: true
  comments:
    giscus: 
      repo: rohitfarmer/dataalltheway

format:
  html:
    theme: zephyr
    fontsize: 1.2em

editor: source



